* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    height: 12vh;
    background-color: #FAF6EA;
    justify-content: space-between;
    padding: 0 10rem;
    margin-bottom: 1rem;
}

.navigation__logo {
    cursor: pointer;
    margin-right: 3rem;
    transform: translateY(-.3rem);
}

.navigation svg {
    height: 1.7rem;
    width: 1.7rem;
    fill: #59361B;
    cursor: pointer;
}

.navigation__right {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navigation__avatar {
    width: 3rem;
    height: 3rem;
    background-image: url(./avatar.png);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;

}

.navigation input {
    background-color: transparent;
    border-bottom: 1px solid #955d3275;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.2rem;
    color: #59361B;
    width: 30rem;
}

.navigation__search-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-right: auto;

}

.navigation__search-container svg {
    transform: rotate(90deg);
}

.navigation input:focus {
    outline: none;
}

.main {
    padding: 0 10rem;
}

.main__category {
    list-style: none;
    display: flex;
    width: max-content;
    background-color: transparent;
    border: 2px solid #818F78;
    border-radius: 50px;
    color: #818F78;
    overflow: hidden;
    margin: 3rem auto;
}

.main__category li {
    padding: .5rem 2rem;
    cursor: pointer;

    transition: all .2s ease-in-out;
}

.main__category li:hover {
    background-color: #818F78;
    color: white;
}

.main__category li:nth-child(3) {
    background-color: #818F78;
    color: white;
}

.main__page-number {
    list-style: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-family: "EB Garamond", serif;
    margin: 3rem 0rem;
    color: #818F78;
}

.main__page-number li {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.main__page-number li:first-child {
    border: 1px solid #818F78;
    background-color: #818F78;
    color: white
}

.main__page-number li:hover {
    background-color: #818F78;
    color: white
}

.main__page-last {
    transform: rotate(-90deg);
    width: 1.5rem;
    height: 1.5rem;
}

.main__page-next {
    width: 1.2rem;
    height: 1.2rem;
}

.main__page-next-container {
    border: 1px solid #818F78;
    transition: all .2s ease-in-out;
}

.main__page-last-container {
    border: 1px solid #818F78;
    transition: all .2s ease-in-out;
}

.main__page-next-container:hover svg {
    fill: white;
}

.main__page-last-container:hover svg {
    fill: white;
}

.main__page-next-container:hover {
    background-color: #818F78;
}

.main__page-last-container:hover {
    background-color: #818F78;
}

.footer {
    background-color: #818F78;
    width: 100%;
    height: 15rem;
    color: white;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer a {
    text-decoration: none;
}

.footer svg {
    height: 2rem;
    width: 2rem;
}

.footer__facebook {
    transform: scale(1.2);
}

.footer__twitter {
    transform: scale(1.05);
}

.social__container {
    display: flex;
    gap: 1rem;
}

.footer__mail-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main__header {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(./read2.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.main__header svg {
    top: 30%;
    left: 38%;
    position: absolute;
    width: 3rem;
    height: 3rem;
}

.main__header-text {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 4rem;
    color: white;

}

/* .main__header-text-1 {
    position: absolute;
} */

.main__header-text-2 {
    margin-left: 5rem;
    margin-top: 1rem;
}

.main__header-text h1 {
    font-family: "Italianno", cursive;
    line-height: 4rem;
    font-weight: 100;
}

.main__header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;

}

.main__second {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100vh;
    margin: 10rem 0rem;
    grid-template-rows: repeat(3, min-content) 3rem;
    row-gap: 1rem;
}

.main__second-img {
    grid-column: 1/2;
    grid-row: 1/-1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.main__second-right-list svg {
    height: 2rem;
    width: 2rem;
}

.main__second-right {
    color: #59361B;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.main__second-right h1 {
    font-size: 2.7rem;
    text-align: center;
    width: 100%;
    height: min-content;
}

.main__second-right h3 {
    margin: 3rem 0;
    font-weight: 100;
    width: 100%;
    height: min-content;
    text-align: center;
}

.main__second-right a {
    text-decoration: none;
    color: #59361B;
}

.main__second-right-item {
    display: flex;
    align-items: center;
    gap: .5rem
}

.main__second-right-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #818F78;
    padding: 1.5rem;
    margin: auto;
    border-radius: 10px;
}